@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw !important;
    overflow-x: hidden;
    padding-right: 16px;
}

.certificates-container {
    display: flex;
    gap: 10px;
    animation: scroll 4s linear infinite;
    /* Adjust duration for smooth scrolling */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        /* Scroll entire width of the duplicated items */
    }
}